.title {
  margin-bottom: 0.5rem;
  padding: 1rem 0.5rem;
  font-size: 1.4rem;
  display: none;
}

.links {
  display: flex;
}

.link {
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  padding: 1rem 0;
}

.link:first-child {
  color: var(--white);
}

.link:last-child {
  color: var(--slate-gray);
}

@media (min-width: 495px) {
  .title {
    display: block;
  }
}
