* {
  margin: 0;
  padding: 0;
}

:root {
  --black: #000;
  --white: #fff;
  --slate-gray: #696d72;
  --dark-gray: #2f3336;
  --pale-gray: #eff3f4;
}

body {
  background: var(--white);
  color: var(--black);
}

html,
body {
  height: 100%;
}

svg {
  vertical-align: top;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--black);
    color: var(--white);
  }
}
