.main {
  height: 100%;
  display: grid;
  justify-content: center;
  grid-template-areas:
    "logo"
    "header"
    "main"
    "nav";
  grid-template-rows: max-content max-content 1fr max-content;
  grid-template-columns: 100%;
}

.navbarContainer {
  grid-area: nav;
  width: 100%;
}

.postLink {
  position: fixed;
  padding: 1rem;
  color: var(--white);
  background-color: var(--azure);
  text-decoration: none;
  border-radius: 50%;
  bottom: 5rem;
  right: 1.2rem;
}

.postLinkLabel {
  display: none;
}

.logo {
  text-align: center;
}

.logoLink {
  display: inline-block;
  padding: 1rem;
  color: var(--white);
}

.headerContainer {
  grid-area: header;
}

.aside {
  display: none;
  grid-area: aside;
  padding: 1rem;
}

@media (min-width: 495px) {
  .main {
    grid-template-areas:
      "logo header"
      "nav header"
      "nav main";
    grid-template-columns: max-content minmax(auto, 37.5rem);
    grid-template-rows: max-content max-content 1fr;
  }

  .navbarContainer {
    box-sizing: border-box;
  }

  .postLink {
    position: static;
    width: 3rem;
    aspect-ratio: 1 / 1;
    padding: 0;
    margin: 0 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    text-align: left;
  }

  .logoLink {
    padding: 1rem;
  }
}

@media (min-width: 615px) {
  .main {
    gap: 0 1.5rem;
  }

  .logoLink {
    padding: 1.2rem;
  }

  .postLink {
    margin: 1rem 0.55rem 0;
  }
}

@media (min-width: 1000px) {
  .main {
    grid-template-areas:
      "logo header aside"
      "nav header aside"
      "nav main aside";
    grid-template-columns: max-content minmax(auto, 37.5rem) max-content;
    grid-template-rows: max-content max-content 1fr;
  }

  .aside {
    display: block;
  }
}

@media (min-width: 1280px) {
  .postLink {
    aspect-ratio: unset;
    padding: 0.9rem 6rem;
    border-radius: 1.5rem;
    font-size: 1.2rem;
  }

  .postLinkIcon {
    display: none;
  }

  .postLinkLabel {
    display: block;
  }
}
