.main {
  height: 100%;
  display: grid;
  justify-content: center;
  grid-template-areas:
    "logo"
    "header"
    "main"
    "nav";
  grid-template-rows: max-content max-content 1fr max-content;
  grid-template-columns: 100%;
}

.navbarContainer {
  grid-area: nav;
  width: 100%;
}

.logo {
  text-align: center;
}

.logoLink {
  display: inline-block;
  padding: 1rem;
  color: var(--white);
}

.headerContainer {
  grid-area: header;
  margin-bottom: 1rem;
}

@media (min-width: 495px) {
  .main {
    grid-template-areas:
      "logo header"
      "nav header"
      "nav main";
    grid-template-columns: max-content minmax(auto, 37.5rem);
    grid-template-rows: max-content max-content 1fr;
    gap: 0 3rem;
  }

  .navbarContainer {
    box-sizing: border-box;
  }

  .logo {
    text-align: left;
  }

  .logoLink {
    padding: 1rem 0;
  }

  .tweets {
    padding: 1rem 0;
  }
}
