.tweet {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  font-size: 0.94rem;
  border: 1px solid var(--pale-gray);
  max-width: 600px;
}

.avatar {
  border-radius: 50%;
}

.info {
  width: 100%;
}

.author {
  display: flex;
  gap: 0.85rem;
}

.username {
  font-weight: 700;
}

.handle {
  color: var(--slate-gray);
}

.content {
  padding-top: 0.3rem;
  padding-bottom: 0.8rem;
  line-height: 1.25;
}

.actions {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: var(--slate-gray);
  font-size: 0.85rem;
}

.stat {
  display: flex;
  align-items: center;
  gap: 0.35rem;
}

@media (prefers-color-scheme: dark) {
  .tweet {
    border-color: var(--dark-gray);
  }
}
